* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cairo", sans-serif;
  background-color: #181a1b;
}

.wrapper {
  margin: auto;
  width: 800px;
  max-width: 100%;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

header span {
  color: white;
  text-transform: capitalize;
}

h2 {
  text-transform: uppercase;
  font-size: 19px;
  color: white;
}

.wordFrom {
  color: cornflowerblue;
  border-bottom: 1px solid cornflowerblue;
}

.gameBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 400px;
  margin-top: 10px;
}

.hang {
  width: 100%;
  height: 100%;
  background-color: rgb(36, 39, 41);
  flex-basis: 50%;
  position: relative;
}

.body {
  width: 80%;
  height: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 50px;
  width: 34px;
  height: 4px;
  background-color: white;
  display: none;
}

.column {
  position: absolute;
  bottom: 0;
  left: 65px;
  width: 4px;
  height: 320px;
  background-color: white;
  display: none;
}

.hold {
  height: 4px;
  position: absolute;
  top: 0;
  left: 65px;
  width: 95px;
  background-color: white;
  display: none;
}

.hold::before {
  content: "";
  position: absolute;
  bottom: -30px;
  right: 0;
  height: 30px;
  width: 4px;
  background-color: white;
}

.rope {
  position: absolute;
  top: 31px;
  left: 121px;
  border: 3px dashed white;
  width: 77px;
  height: 77px;
  border-radius: 50%;
  display: none;
}

.face {
  position: absolute;
  top: 36px;
  left: 126px;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  border: 3px solid white;
  display: none;
}

.stomach {
  top: 105px;
  left: 156px;
  position: absolute;
  width: 4px;
  height: 109px;
  background-color: white;
  display: none;
}

.hand {
  top: 105px;
  left: 108px;
  position: absolute;
  width: 99px;
  height: 100px;
  display: none;
}

.hand .one {
  position: absolute;
  left: 21px;
  top: -17px;
  width: 4px;
  height: 72px;
  background-color: white;
  transform: rotate(133deg);
}

.hand .two {
  position: absolute;
  right: 21px;
  top: -17px;
  width: 4px;
  height: 72px;
  background-color: white;
  transform: rotate(-133deg);
}

.leg {
  top: 215px;
  left: 108px;
  position: absolute;
  width: 99px;
  height: 75px;
  display: none;
}

.leg .one {
  position: absolute;
  width: 4px;
  height: 80px;
  background-color: white;
  top: -4px;
  left: 33px;
  transform: rotate(22deg);
}

.leg .two {
  position: absolute;
  width: 4px;
  height: 80px;
  background-color: white;
  top: -4px;
  right: 32px;
  transform: rotate(-22deg);
}

.body.wrong-1 .bottom {
  display: block;
}

.body.wrong-2 .column {
  display: block;
}

.body.wrong-3 .hold {
  display: block;
}

.body.wrong-4 .rope {
  display: block;
}

.body.wrong-5 .face {
  display: block;
}

.body.wrong-6 .stomach {
  display: block;
}

.body.wrong-7 .hand {
  display: block;
}

.body.wrong-8 .leg {
  display: block;
}

.letters {
  display: flex;
  flex-wrap: wrap;
  width: 386px;
  margin: 0 10px 10px;
  height: 100px;
  gap: 11px;
}

.letterColor {
  font-size: 29px;
  padding: 5px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #1e89cf;
  width: 49px;
  height: 53px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  box-shadow: -5px 4px 0 0 #00000017;
}

@media (min-width: 768px) {
  .letterColor {
    cursor: pointer;
  }
}

@media (max-width: 720px) {
  .gameBox {
    flex-direction: column;
  }
  .letters {
    max-width: 100%;
    margin: 0px auto 92px;
    justify-content: center;
  }
  .letterColor {
    font-size: 25px;
    width: 43px;
    height: 48px;
  }
  .wordBox {
    margin: 222px auto 0 !important;
  }
  .lose {
    font-size: 36px !important;
  }
  header {
    flex-direction: column;
  }
  .body {
    top: 31% !important;
    transform: translate(-50%, -50%) scale(0.5) !important;
    -webkit-transform: translate(-50%, -50%) scale(0.5) !important;
    -moz-transform: translate(-50%, -50%) scale(0.5) !important;
    -ms-transform: translate(-50%, -50%) scale(0.5) !important;
    -o-transform: translate(-50%, -50%) scale(0.5) !important;
  }
  .column {
    bottom: -162px !important;
  }
  .bottom {
    bottom: -165px !important;
  }
}

.wordBox {
  margin: 10px auto;
  width: 100%;
  height: fit-content;
  background-color: #e9e9e9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  flex-wrap: wrap;
  padding: 10px;
  background-color: rgb(36, 39, 41);
}

.wordBox span {
  padding: 8px 14px;
  margin: 0px 6px;
  font-size: 0;
  font-weight: 700;
  border-bottom: 2px solid white;
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 38px;
  height: 51px;
}

.selected {
  background-color: #e9e9e9;
}

.selectedStop {
  pointer-events: none;
}

.returnSize {
  font-size: 20px !important;
}

.space {
  font-size: 20px !important;
  border: none !important;
}

.lose {
  width: 80%;
  height: 398px;
  position: fixed;
  left: -2000px;
  top: 50%;
  background-color: #1e89cf;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 50px;
  white-space: nowrap;
  transition: 0.3s;
  color: white;
  user-select: none;
}

.loseCome {
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.beforeLose {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0000003b;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.showBeforeLose {
  visibility: unset;
  opacity: 1;
}

.win {
  width: 80%;
  height: 398px;
  position: fixed;
  right: -2000px;
  top: 50%;
  background-color: #1e89cf;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 50px;
  white-space: nowrap;
  transition: 0.3s;
  color: white;
  user-select: none;
}

.showWin {
  right: 50%;
  transform: translate(50%, -50%);
  -webkit-transform: translate(50%, -50%);
  -moz-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  -o-transform: translate(50%, -50%);
}
